.section__benefits {
  background-color: #f9f7fc;

  .benefits {
    @include display-flex(row, space-between, center);
    padding: 8.75rem 0;
    height: fit-content;

    @include medium {
      @include display-flex(column, space-between, center);
      gap: 3.5rem;
    }

    // .benefits__item

    &__item {
      @include display-flex(column, space-between, flex-start);
      width: 50%;
      gap: 1.5rem;

      &:last-of-type {
        gap: 3.5rem;
      }

      @include medium {
        width: 70%;
        text-align: center;
      }

      &-element {
        @include display-flex(column, space-between, flex-start);
        gap: 1rem;

        @include medium {
          @include display-flex(column, space-between, center);
        }
      }
    }

    // .benefits__divider

    &__divider {
      @include size(0.0625rem, 34.875rem);
      margin: 0 3.875rem;
      background-color: black;
      opacity: 0.1;
      content: "";

      @include medium {
        display: none;
      }
    }

    // .benefits__title

    &__title {
      @include text-styling(3.125rem, 700, 3.4375rem);
      letter-spacing: -0.03em;
      color: $primary-color;

      @include large {
        font-size: 2.5rem;
      }

      span {
        color: $secondary-color;
      }
    }

    // .benefits__text

    &__text {
      @include text-styling(1.125rem, 400, 2rem);
      color: $grey-color;

      @include large {
        font-size: 0.9375rem;
      }
    }

    // .benefits__item-title

    &__item-title {
      @include text-styling(1.125rem, 600, 2rem);
      color: $primary-color;
    }
  }
}
