.section__beta {
  position: relative;
  @include size(100vw, fit-content);

  .beta {
    position: absolute;
    top: -21rem;
    max-width: $container-width;
    width: 90vw;
    padding: 5rem 2.5rem;
    background-color: white;
    box-shadow: 0rem -0.625rem 9.375rem rgba(80, 88, 100, 0.05);
    border-radius: 1.25rem;

    @include medium {
      padding: 3.75rem 2.5rem;
    }

    // .beta__title

    &__title {
      @include text-styling(3.125rem, 700, 3.4375rem);
      text-align: center;
      letter-spacing: -0.03em;
      color: $primary-color;
      margin-bottom: 4.625rem;

      @include huge {
        font-size: 2.75rem;
      }

      @include medium {
        font-size: 2.25rem;
        margin-bottom: 1.25rem;
      }

      @include small {
        font-size: 1.75rem;
      }

      span {
        color: $secondary-color;
      }
    }

    // .beta__form

    &__form {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      gap: 1.5rem;

      @include medium {
        @include display-flex(column, center, center);
      }
    }

    .btn__wrapper {
      padding-top: 2rem;
      grid-column: span 2;
      justify-self: center;
    }

    // .beta__form-item

    &__form-item {
      @include display-flex(column, space-between, flex-start);
      gap: 1rem;
      width: 100%;

      @include medium {
        align-items: center;
        gap: 0.3125rem;
      }

      label {
        @include text-styling(1.125rem, 400, 2rem);
        color: $primary-color;

        @include huge {
          font-size: 1rem;
        }
      }

      input {
        max-width: 31.25rem;
        width: 100%;
        padding: 1.5rem 2rem;
        background: #f7f9fd;
        border: 0.0625rem solid #dfe8fa;
        border-radius: 0.9375rem;
        outline: none;

        @include huge {
          padding: 1.25rem 1.75rem;
        }
      }
    }

    // .beta__btn

    &__btn {
      padding: 1rem 3.3125rem;
    }
  }
}
