.section__beta {
  position: relative;
  width: 100vw;
  height: fit-content;

  .beta {
    position: absolute;
    top: -336px;
    max-width: $container-width;
    width: 90vw;
    padding: 120px 40px;
    background-color: white;
    box-shadow: 0px -10px 150px rgba(80, 88, 100, 0.05);
    border-radius: 20px;

    @include medium {
      padding: 60px 40px;
    }

    // .beta__title

    &__title {
      font-weight: 700;
      font-size: 50px;
      line-height: 55px;
      text-align: center;
      letter-spacing: -0.03em;
      color: $primary-color;
      margin-bottom: 74px;

      @include huge {
        font-size: 44px;
      }

      @include medium {
        font-size: 40px;
        margin-bottom: 20px;
      }

      span {
        color: $secondary-color;
      }
    }

    // .beta__form

    &__form {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      gap: 30px;

      @include medium {
        @include display-flex(column, center, center);
      }
    }

    .btn__wrapper {
      grid-column: span 2;
      justify-self: center;
    }

    // .beta__form-item

    &__form-item {
      @include display-flex(column, space-between, flex-start);
      gap: 16px;
      width: 100%;

      @include medium {
        align-items: center;
        gap: 5px;
      }

      label {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: $primary-color;

        @include huge {
          font-size: 16px;
        }
      }

      input {
        max-width: 500px;
        width: 100%;
        padding: 24px 32px;
        background: #f7f9fd;
        border: 1px solid #dfe8fa;
        border-radius: 15px;
        outline: none;

        @include huge {
          padding: 20px 28px;
        }
      }
    }

    // .beta__btn

    &__btn {
      padding: 16px 53px;

      // .beta__btn-wrapper
    }
  }
}
