// Cases Section
.section__cases {
  background-color: #fdf9f8;
  padding: 6.25rem 0 8.75rem 0;

  .navbar__cases {
    max-width: 41.4375rem;
    padding: 0 0 4rem 0;

    &-page {
      @include display-flex(row, space-between, center);
      @include medium {
        padding: 0;
      }
    }

    &-btn {
      padding: 0.5rem 0;

      &.cases-btn-active {
        border-bottom: 0.1875rem solid $secondary-color;
      }

      a {
        @include text-styling(1.5rem, 500, 2.6875rem);
        color: $primary-color;

        @include medium {
          font-size: 1.25rem;
        }

        @include small {
          font-size: 1rem;
          padding: 0 0.1875rem;
        }
      }
    }
  }

  .cases {
    @include display-flex(row, space-between, center);
    position: relative;
    display: none;

    img {
      max-width: 100%;
      position: absolute;
      top: -10%;
      right: 0;
      transform: scale(0.9);

      @include huge {
        width: 90%;
        right: -20%;
      }

      @include large {
        width: 70%;
        right: -12%;
      }

      @include medium {
        display: none;
      }
    }

    // .cases__item

    &__item {
      width: 45%;

      // img {
      //   // height: auto;
      //   // border-radius: 100%;
      // }

      @include medium {
        width: 100%;
      }
    }

    // .cases__title

    &__title {
      font-style: normal;
      @include text-styling(2.875rem, 700, 3.1875rem);
      letter-spacing: -0.03em;
      color: $primary-color;

      @include large {
        font-size: 2.5rem;
      }

      span {
        color: $secondary-color;
      }
    }

    // .cases__text

    &__text {
      @include text-styling(1.125rem, 400, 2rem);
      color: $grey-color;
      margin: 1.5rem 0 2rem 0;

      @include large {
        width: 90%;
        font-size: 0.875rem;
      }
    }

    // .cases__subtitle

    &__subtitle {
      @include text-styling(0.875rem, 400, 1.5625rem);
      letter-spacing: 0.2em;
      color: $grey-color;
      margin-bottom: 0.5rem;
    }

    // .cases__replaces

    &__replaces {
      margin: 0 0 3.5rem 0;
    }

    // .cases__replaces-item

    &__replaces-item {
      @include text-styling(1.125rem, 600, 2rem);
      color: $primary-color;
      padding: 0 0.8125rem;

      @include large {
        font-size: 0.875rem;
      }

      &:nth-child(1) {
        border-right: 0.0625rem solid lighten($primary-color, 70%);
        padding-left: 0;
      }
      &:nth-child(4) {
        border-left: 0.0625rem solid lighten($primary-color, 70%);
        padding-right: 0;
      }
      &:nth-child(2) {
        border-right: 0.0625rem solid lighten($primary-color, 70%);
      }
    }

    // .cases__btn

    &__btn {
      padding: 1rem 2.625rem;
    }
  }

  .case-active {
    display: flex;

    @include medium {
      @include display-flex(column, space-between, center);
      text-align: center;
    }
  }
}
