.footer {
  @include display-flex(column, flex-end, center);
  height: 50rem;
  background-color: #3b434f;
  padding-bottom: 4rem;

  @include medium {
    padding-bottom: 1.25rem;
    height: 920px;
  }

  // @media (max-width: 617px) {

  // }

  @include small {
    height: 1000px;
  }

  .container {
    @include display-flex(column, center, center);
    gap: 3rem;
  }

  // .footer__item

  &__item {
    @include display-flex(row, space-between, center);
    width: 100%;

    @include medium {
      flex-direction: column;
      gap: 3rem;
    }
  }

  // .footer__links

  &__links {
    @include display-flex(column, space-between, flex-start);
    gap: 5rem;

    @include medium {
      flex-direction: row;
      align-items: center;
      width: 100%;
    }

    @include small {
      gap: 3.125rem;
    }
  }

  // .footer__logo

  &__logo {
    @include text-styling(1.875rem, 700, 3.4375rem);
    color: $secondary-color;
    letter-spacing: -0.03em;
    text-align: left;
  }

  // .footer__social-links

  &__social-links {
    display: flex;
    gap: 1.875rem;
  }

  // .footer__social-link

  &__social-link {
    &:hover,
    &:focus {
      path {
        transition: 0.3s all ease-in;
        fill: $secondary-color;
      }
    }
  }

  // .footer__menu

  &__menu {
    @include display-flex(row, space-between, flex-start);
    gap: 6.25rem;

    @include large {
      gap: 3.125rem;
    }

    @include medium {
      width: 100%;
      gap: 3rem;
    }

    &-item {
      @include display-flex(column, space-between, flex-start);
      gap: 2rem;
    }

    &-link {
      @include text-styling(1.125rem, 400, 1.6875rem);
      color: #ffffff;
      transition: 0.35s color ease-in;

      &:hover,
      &:focus {
        color: $secondary-color;
      }

      @include medium {
        font-size: 15px;
      }
    }
  }
}
