// Hero Section
.section__hero {
  margin-bottom: 9rem;

  .hero {
    @include display-flex(row, space-between, center);

    // .hero__img

    &__img {
      @include large {
        display: none;
      }
    }

    // .hero__item

    &__item:nth-child(1) {
      width: 25.75rem;

      @include large {
        @include display-flex(column, space-between, center);
        width: 100%;
        gap: 2.5rem;
        text-align: center;
      }

      @include small {
        gap: 1.875rem;
      }
    }

    //   .hero__text

    &__text {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    // .hero__title

    &__title {
      @include text-styling(3.75rem, 700, 4.125rem);
      letter-spacing: -0.03em;
      color: $primary-color;

      @include large {
        font-size: 3.125rem;
      }

      @include small {
        font-size: 2.75rem;
      }

      // .hero__title span

      span {
        color: $secondary-color;
      }
    }

    // .hero__subtitle

    &__subtitle {
      @include text-styling(1.125rem, 400, 180%);
      color: $grey-color;

      @include small {
        font-size: 1rem;
      }
    }

    // .hero__input

    &__input {
      @include text-styling(1.125rem, 400, 180%);
      border: 0.0625rem solid #dfe8fa;
      border-radius: 0.9375rem;
      width: 100%;
      outline: #dfe8fa;
      padding: 0.875rem 1.25rem;
      color: $grey-color;
    }

    // .hero__btn

    &__btn {
      padding: 1rem 2.375rem;

      @include small {
        padding: 0.875rem 2.125rem;
      }
    }

    // .hero__rating

    &__rating {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
      gap: 1rem;
    }

    // .hero__reviews

    &__reviews {
      @include display-flex(row, space-between, center);
    }

    // .hero__reviews-text

    &__reviews-text {
      @include text-styling(0.9375rem, 400, 1.6875rem);
      color: $grey-color;
    }

    // .hero__rating-logos

    &__rating-logos {
      display: flex;
      gap: 2.375rem;

      @include small {
        gap: 1.25rem;
      }
    }

    .form {
      @include display-flex(column, space-between, flex-start);
      margin: 2rem 0;
      gap: 1rem;

      // .form__bottom

      &__bottom {
        @include display-flex(row, flex-start, center);
        gap: 1.875rem;
      }

      // .form__text

      &__text {
        @include text-styling(0.9375rem, 600, 1.375rem);
        color: #bbc0c7;
        width: 35%;

        @include small {
          font-size: 0.875rem;
        }
      }
    }
  }
}
