.section__pricing {
  .pricing {
    @include display-flex(row, space-between, center);
    padding: 5.75rem 0 9rem 0;

    // .pricing__item

    &__item {
      @include huge {
        width: 50%;
      }

      &:nth-child(1) {
        @include display-flex(column, center, flex-start);
        gap: 2.5rem;

        @include large {
          width: 55%;
        }

        @include medium {
          @include display-flex(column, center, center);
          text-align: center;
          width: 100%;
        }
      }

      &:nth-child(2) {
        position: relative;
        @include display-flex(row, center, center);

        @include large {
          width: 45%;
        }

        @include medium {
          display: none;
        }
      }
    }

    // .pricing__title

    &__title {
      @include text-styling(3.125rem, 700, 3.4375rem);
      letter-spacing: -0.03em;
      color: $primary-color;

      @include huge {
        font-size: 2.75rem;
      }

      @include large {
        font-size: 2.375rem;
      }

      span {
        color: $secondary-color;
      }
    }

    // .pricing__features

    &__features {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      @include medium {
        justify-content: center;
      }
    }

    // .pricing__feature-item

    &__feature-item {
      @include text-styling(1.125rem, 500, 2rem);
      padding: 0.5rem 1.25rem;
      border: 0.0625rem solid black;
      border-radius: 1.5rem;
      transition: 0.3s all ease-in;

      @include huge {
        font-size: 1rem;
        padding: 0.375rem 1rem;
      }

      @include large {
        font-size: 0.875rem;
        padding: 0.25rem 0.75rem;
      }

      &:nth-child(1) {
        color: #ff8b7a;
        background-color: #fff1ef;
        border-color: #ffd1ca;
      }

      &:nth-child(2) {
        color: #ffac2f;
        background-color: #fff8ee;
        border-color: #ffca7a;
      }

      &:nth-child(3) {
        color: #3acd77;
        background-color: #ecfff4;
        border-color: #98fac0;
      }

      &:nth-child(4) {
        color: #2bc0ca;
        background-color: #f1feff;
        border-color: #6ee1e9;
      }

      &:nth-child(5) {
        color: #c140fd;
        background-color: #fcf5ff;
        border-color: #ebbdff;
      }

      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }

    // .pricing__btn

    &__btn {
      padding: 1rem 2.625rem;

      @include huge {
        padding: 0.875rem 2.375rem;
      }

      @include large {
        padding: 0.75rem 2.125rem;
      }
    }

    // .pricing__text-wrap
    &__text-wrap {
      position: absolute;
    }

    // .pricing__value

    &__value {
      @include text-styling(7.5rem, 700, 6rem);
      letter-spacing: -0.03em;
      color: $primary-color;

      @include huge {
        font-size: 6.875rem;
      }

      @include large {
        font-size: 5rem;
      }
    }

    // .pricing__duration

    &__duration {
      @include text-styling(18px, 600, 32px);
      color: $primary-color;
    }
  }
}
