.section__slider {
  background-color: #fffafe;
  margin: 0;
  padding: 8.75rem 0 29.8125rem 0;

  .container {
    @include large {
      width: 100%;
    }
  }

  .swiper {
    @include size(100%, 21.875rem);

    @include medium {
      height: fit-content;
      text-align: center;
    }

    // .swiper-slide

    &-slide {
      @include display-flex(row, center, center);

      @include medium {
        @include display-flex(column, center, center);
      }

      // .swiper-slide-picture

      &-picture {
        border-radius: 100%;
      }

      // .swiper-slide-img

      &-img {
        @include large {
          display: none;
        }
      }
    }

    // .swiper-button-prev

    &-button-prev {
      transform: rotate(180deg);
      left: 0.9375rem;
    }

    // .swiper-button-next

    &-button-next {
      right: 0.9375rem;
    }

    &-button-prev,
    &-button-next {
      circle,
      line {
        transition: stroke 0.35s ease-in;
      }

      &:hover {
        circle,
        line {
          stroke: $secondary-color;
        }
      }
    }

    &-button-next,
    &-button-prev {
      width: fit-content;
      height: fit-content;
    }

    &-button-next::after,
    &-button-prev::after {
      content: "";
    }

    // .swiper-slide-item

    &-slide-item {
      &:nth-child(1) {
        @include display-flex(row, center, center);
        width: 35%;
      }

      &:last-of-type {
        @include display-flex(column, center, flex-start);
        gap: 1rem;
        max-width: 37.6875rem;

        @include huge {
          width: 50%;
        }
      }
    }

    // .swiper-slide-title

    &-slide-title {
      @include text-styling(18px, 600, 32px);
      color: $primary-color;

      @include huge {
        font-size: 1rem;
      }
    }

    // .swiper-slide-text

    &-slide-text {
      @include text-styling(18px, 400, 32px);
      color: $primary-color;

      @include huge {
        font-size: 0.9375rem;
      }

      @include large {
        font-size: 0.8125rem;
      }

      span {
        @include medium {
          display: none;
        }
      }
    }
  }
}
