// Font
$main-font-family: "Poppins", sans-serif;

// Colors
$primary-color: hsl(340, 7%, 17%);
$secondary-color: hsl(179, 78%, 42%);
// $navbar-text-color: hsl(214, 31%, 26%);
$grey-color: hsl(216, 13%, 47%);

// Container Width
$container-width: 1158px;

// Breakpoints
$breakpoint-huge: 1200px;
$breakpoint-large: 992px;
$breakpoint-medium: 768px;
$breakpoint-small: 500px;
