// Font
$main-font-family: "Poppins", sans-serif;

// Colors
$primary-color: hsl(216, 30%, 16%);
$secondary-color: hsl(7, 77%, 75%);
$navbar-text-color: hsl(223, 12%, 50%);
$grey-color: hsl(216, 13%, 47%);

// Container Width
$container-width: 1158px;

// Breakpoints
$breakpoint-huge: 1200px;
$breakpoint-large: 992px;
$breakpoint-medium: 768px;
$breakpoint-small: 500px;
